footer {
  background-color:#73aff3;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.font{
  font-family: "Comic Sans MS", cursive;
}



img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}



