<footer *ngIf="showFooters">
  <div class="container text-center text-white">
    <h4>Contatti</h4>
    <div class="row mt-3">
      <div class="col-12 d-flex justify-content-center position">
          <img src="../../../assets/icons/50358381-icona-del-telefono-retrò.jpg" alt="Icona Contatti" class="img-fluid rounded-circle">
          <p class="me-2">351/9580435</p>
          <p class="me-2">-</p>
          <img src="../../../assets/icons/email-blue_f" alt="Icona Contatti" class="img-fluid rounded-circle">
          <p>luca_giacalone@libero.it</p>
      </div>
      <div class="col-12 d-flex justify-content-center position">
        <img src="../../../assets/icons/25231.png" alt="Icona Contatti" class="img-fluid rounded-circle">
        <p class="me-2"><a href="https://github.com/Luke932">Github</a></p>
        <p class="me-2">-</p>
        <img src="../../../assets/icons/linkedin_original_logo_icon_146435.png" alt="Icona Contatti" class="img-fluid rounded-circle">
        <p><a href="https://www.linkedin.com/in/luca-giacalone-79354633/">Linkedin</a></p>
    </div>
    <div class="col-12 d-flex justify-content-center position">
      <img src="../../../assets/icons/images.jpg" alt="Icona Contatti" class="img-fluid rounded-circle">
      <p class="me-2"><a href="https://www.instagram.com/iamironman932/">Instagram</a></p>
      <p class="me-2">-</p>
      <img src="../../../assets/icons/image.png" alt="Icona Contatti" class="img-fluid rounded-circle">
      <p><a href="https://www.facebook.com/luca.giacalone.397?ref=bookmarks&paipv=0&eav=AfbL0A2XLb3_GnXDYZ2B95DZBzd9-zBri0FW9h-hvCeht60sfuNyT2SYCy8yTQeIuuk&_rdr">Facebook</a></p>
  </div>

    </div>
  </div>
</footer>
