<div class="container">
  <div class="row card-link">
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let prodotto of prodotti; let i = index">
      <div class="card">
        <h5 class="card-title">{{ prodotto.nomeProdotto }}</h5>
        <div class="card-body">
          <img [src]="prodotto.immagine" class="card-img-top" alt="...">
          <p class="card-text">{{ prodotto.descrizione }}</p>

          <span class="material-symbols-outlined heart-icon"
                [ngClass]="{'liked': isLiked[i]}"
                (click)="toggleLike(prodotto, i)">
            favorite
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
