.card {
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: auto; /* Modificato l'altezza a "auto" per adattarsi al contenuto */
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-size: 2em;
  cursor: pointer;
}

.liked {
  color: red;
}
.commento-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar-container {
  margin-right: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.commento-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.commento-text-container {
  flex-grow: 1;
}

.commento-testo {
  margin-bottom: 5px;
}

.commento-buttons {
  display: flex;
  align-items: center;
}

.btn-modifica,
.btn-elimina {
  margin-right: 10px;
}

.btn-commenta {
  margin-left: auto;
}

.heart-icon {
  margin-right: 10px;
}

.mt{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.click {
  cursor: pointer;
}
