.card {
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 400px;
}





.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-size: 2em; /* Imposta la dimensione dell'icona del cuore */
  cursor: pointer; /* Rende l'icona cliccabile */
}

.liked {
  color: red; /* Imposta il colore rosso quando il like è attivo */
}



