.navbar-bg {
  background-color: #73aff3;
  padding: 1rem;
  z-index: 100;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-content img, img {
  max-width: 10%;
  height: auto;
  flex-shrink: 0;
  margin-right: 5px;
}

.navbar-content h1 {
  font-family: "Comic Sans MS", cursive;
  font-size: 24px;
  margin: 0;
  flex-grow: 1;
  white-space: nowrap;
}

.navbar-username, a {
  font-family: "Comic Sans MS", cursive;
  font-size: 24px;
  margin-left: 5px;
}

@media screen and (max-width: 450px) {
  img {
    display: none;
  }
}




.avatar {
  width: 50%;
  height: 50%;
  border-radius: 500px;
}

.material-symbols-outlined {
  color: black;
}


