

<div class="nav" *ngIf="(userRole$ | async) === 'USER'">
  <nav class="navbar navbar-expand-lg navbar-bg fixed-top">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <img src="../../../assets/img/benvenuti-a-palermo-italia-vintage-metallo-arrugginito-segno-su-uno-sfondo-bianco-illustrazione-vettoriale-w21k27.png" alt="Palermo" class="navbar-image">
        <h1 class="navbar-username text-warning">
          Benvenuto a Palermo, {{ username }}
        </h1>
      </div>
      <div class="navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-warning" [routerLink]="'/user/home'" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" [routerLink]="'/user/prodotti'" routerLinkActive="active">Prodotti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" [routerLink]="'/user/profilo'" routerLinkActive="active">Profilo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<!--
<div *ngIf="userRole === 'ADMIN'">
   Elementi della navbar specifici per l'amministratore
</div>
-->

