.navbar-bg {
  background-color: #73aff3;
  padding: 1rem;
}

.navbar-image, img {
  width: 5%;
}

.navbar-username, a {
  font-family: "Comic Sans MS", cursive;
  font-size: 24px;
  margin-left: 10px;
}

.nav {
  margin-bottom: 5rem;
}
