.background-image {
  background-image: url("../../../assets/img/water-20.gif.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  height: auto;
}

.container {
  padding-bottom: 10rem;
}

.display-1 {
  font-size: 4rem;
}

.hover-effect {
  transition: transform 0.3s;
}

.hover-effect:hover {
  transform: scale(1.1);
}

.animated-text {
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@media (max-width: 576px) {
  .hover-effect:hover {
    transform: none !important;
  }
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50% / 20%;
  object-fit: cover;
  border: 2px solid rgb(64, 70, 70);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  margin-right: 2rem;
}

.display-2 {
  font-size: 2rem;
  color: rgb(206, 86, 6);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
